@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajPoruka</title>
</head>
<body>
You have successfully reported a mistake for @TempData["medianame"].<br/>
Click <a href="/Media/Prikaz">here</a> to return.
</body>
</html>