@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<img src="~/uploads/banner.png" alt="Alternate Text" />*@
<img  id ="nis"   src="~/uploads/petarPan_0bac.jpg" alt="Alternate Text" />
<div class="profile-banner" style="">
    <style>
        #nis {
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
            position: relative;
            background-color: #252932;
            border-bottom: 4px solid #fff;
            box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
        }
    </style>
    @*<ul>
        <li>
            <div class="the-date">
                <span>01</span>
                <small>Feb</small>
            </div>
            <h4>Lorem ipsum dolor!</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </li>
        <li>
            <div class="the-date">
                <span>31</span>
                <small>Jan</small>
            </div>
            <h4>Yohoo! you can put video here</h4>
            <div class="videoWrapper">
                <iframe src="//player.vimeo.com/video/85847275?title=0&amp;byline=0&amp;portrait=0"></iframe>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </li>
        <li>
            <div class="the-date">
                <span>25</span>
                <small>Jan</small>
            </div>
            <h4>You also can put Soundcloud iframe here</h4>
            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132890481&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </li>
        <li class="the-year"><p>2013</p></li>
        <li>
            <div class="the-date">
                <span>20</span>
                <small>Dec</small>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </li>
        <li>
            <div class="the-date">
                <span>27</span>
                <small>Nov</small>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </li>
    </ul>*@
