
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajPoruka</title>
</head>
<body>
    You have successfully added or edited the following company: @TempData["ImeKompanije"]. Click <a href="/Company/Index">here</a> to return.
</body>
</html>
