
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrisanjePoruka</title>
</head>
<body>
    You have successfully deleted the following character: @TempData["ImeKaraktera"]. Click <a href="/Character/Prikaz">here</a> to return.
</body>
</html>
