
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrisanjePoruka</title>
</head>
<body>
    You have successfully deleted the following Media: @TempData["ImeMedia"]. Click <a href="/Media/Prikaz">here</a> to return.
</body>
</html>
